body {
  font-family: Arial, sans-serif;
  margin: 0;
	border-radius : 20px; 
 padding: 0;
}

header {
border-radius : 20px;
  background-color: #f0f0f0;
  padding: 20px;
  text-align: center;
}

main {
border-radius:20px;
  margin: 20px;
}

section {
border-radius:20px;
  margin-bottom: 30px;
  padding: 15px;
  border: 1px solid black;
}

h2 {
border-radius:20px;
  margin-bottom: 10px;
}

footer {
border-radius:20px;
  text-align: center;
  padding: 10px;
  background-color: #333;
  color: white;
}
